/* style.scss */
/* color variables */
/* button color variables */
/* size variables */
/* mixins */
/* styles */
@font-face {
  font-family: "Cheeseburger";
  src: url("CHEESEBU.ttf"); }
body {
  font: 12px arial, helvetica, sans-serif;
  color: #323452;
  background-color: #f0e6d7;
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  top: 0px;
  padding-top: 0px;
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden; }

html {
  overflow-x: hidden;
  width: 280px; }

a {
  color: #323452;
  font-weight: normal;
  text-decoration: none; }
  a:active {
    color: #323452; }
  a:hover {
    color: #323452;
    text-decoration: underline; }
  a:link {
    color: #323452; }
  a:visited {
    color: #323452; }
  a img {
    border: none; }

#bottombar {
  position: relative;
  top: 16px;
  left: 0px;
  min-height: 16px;
  width: 280px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  text-align: center;
  margin-bottom: 8px;
  background: rgba(240, 230, 215, 0.8) none repeat scroll 0 0;
  padding: 0px;
  border-radius: 15px;
  display: block;
  opacity: 1;
  z-index: 1; }

#bottombarcontent {
  position: relative;
  top: 0px;
  width: 280px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 2px;
  display: inline-block;
  opacity: 1;
  padding: 0px; }

#topnav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 24px;
  margin: 0px;
  background-color: #323452;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  z-index: 10; }

#topnavtext {
  color: #f0e6d7; }
  #topnavtext a {
    color: #f0e6d7; }

#topnavcontent {
  position: relative;
  top: 0px;
  width: 280px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 2px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  display: block; }

#content {
  position: relative;
  top: 0px;
  width: 280px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  display: block; }

#toparea {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 280px;
  min-height: 64px;
  display: inline-block;
  opacity: 1;
  padding: 0px; }

#topbar {
  position: relative;
  top: 0px;
  left: 96px;
  min-height: 88px;
  width: 184px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  background: rgba(240, 230, 215, 0.8) none repeat scroll 0 0;
  padding: 0;
  border-radius: 15px;
  display: block;
  opacity: 1;
  z-index: 2;
  color: #323452;
  text-align: left; }

#toplogo {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 88px;
  width: 88px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  position: relative; }

#topcontent {
  position: absolute;
  top: 32px;
  left: 0px;
  min-height: 88px;
  width: 88px;
  display: inline-block;
  opacity: 1;
  padding: 0px; }

#socialmenu {
  /*
  position: absolute;
  @include top(1,$gutter-width + $margin-top);
  @include left(16);
  @include height(3, 0);
  @include width(3, 0);
  @include container();
  */
  float: right;
  text-align: right; }

#toplogin {
  position: absolute;
  top: 0px;
  left: 660px;
  width: 320px;
  max-width: 320px;
  height: 150px;
  max-height: 150px;
  display: inline-block;
  opacity: 1;
  padding: 0px; }

#topform {
  position: absolute;
  top: 10px;
  width: 300px;
  height: 130px; }

#mainarea {
  position: relative;
  top: 72px;
  left: 0px;
  width: 960px; }

#mainleft {
  position: relative;
  background: rgba(240, 230, 215, 0.8) none repeat scroll 0 0;
  top: 8px;
  width: 280px;
  padding: 0;
  border-radius: 15px;
  display: block;
  opacity: 1;
  z-index: 2;
  color: #323452;
  text-align: left; }

#mainleftcontainer {
  position: absolute;
  top: 120px;
  left: 0px;
  width: 280px;
  padding: 0;
  display: block;
  opacity: 1;
  z-index: 1; }

#leftrestaurantmenu a {
  color: #323452;
  font-weight: normal;
  text-decoration: none; }
  #leftrestaurantmenu a:active {
    color: #323452; }
  #leftrestaurantmenu a:hover {
    color: #323452;
    text-decoration: underline; }
  #leftrestaurantmenu a:link {
    color: #323452; }
  #leftrestaurantmenu a:visited {
    color: #323452; }

#maincontainer {
  position: absolute;
  top: 80px;
  left: 72px;
  min-height: 112px;
  width: 304px;
  display: inline-block;
  opacity: 1;
  padding: 0px;
  padding-bottom: 1px; }

#mainbody {
  position: relative;
  background: rgba(240, 230, 215, 0.8) none repeat scroll 0 0;
  top: 8px;
  left: 0px;
  min-height: 102px;
  width: 294px;
  padding: 5px;
  border-radius: 15px;
  display: block;
  opacity: 1;
  z-index: 1;
  position: relative;
  margin-bottom: 8px; }

#introtopbar {
  position: relative;
  background: rgba(240, 230, 215, 0.8) none repeat scroll 0 0;
  top: 8px;
  left: 72px;
  min-height: 54px;
  width: 294px;
  padding: 5px;
  border-radius: 15px;
  display: block;
  opacity: 1;
  z-index: 1; }

#topnavtext {
  display: inline-block;
  font-size: 15px;
  width: 184px; }

#topbartable {
  min-height: 54px;
  width: 100%;
  font-size: 15px;
  margin: 0px; }
  #topbartable td.logo {
    width: 0%; }
    #topbartable td.logo img {
      max-height: 49px; }
  #topbartable td.title {
    text-align: center;
    width: 60%;
    font-size: 21.6px; }
  #topbartable td.center {
    text-align: center;
    width: 30%; }
  #topbartable td.hours {
    text-align: center;
    width: 40%;
    font-size: 9px; }
  #topbartable h3 {
    margin: 0px; }

.alert {
  position: relative;
  background-color: rgba(255, 58, 0, 0.7);
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 15px;
  opacity: 1;
  z-index: 2; }

#registrationtable {
  width: 280px;
  border-spacing: 5px; }

#registrationtable th.right, td.right {
  text-align: right;
  width: 100px; }

#registrationtable th.center, td.center {
  text-align: center;
  width: 100px; }

#registrationtable th.left, td.left {
  text-align: left;
  width: 100px; }

#registrationtable th.test, td.test {
  text-align: center !important;
  color: #ff3a00;
  background: #323452 none repeat scroll 0 0;
  border-radius: 10px;
  width: 100px; }
  #registrationtable th.test a, td.test a {
    color: #ff3a00;
    font-weight: normal;
    text-decoration: none; }
    #registrationtable th.test a:active, td.test a:active {
      color: #ff3a00; }
    #registrationtable th.test a:hover, td.test a:hover {
      color: #ff3a00;
      text-decoration: underline; }
    #registrationtable th.test a:link, td.test a:link {
      color: #ff3a00; }
    #registrationtable th.test a:visited, td.test a:visited {
      color: #ff3a00; }

#registrationtable th.optional, td.optional {
  text-align: center !important;
  color: #1F2033;
  width: 100px; }

#registrationtable input[type="text"] {
  width: 95%;
  height: 140%; }

#registrationtable input[type="password"] {
  width: 95%;
  height: 140%; }

#registrationtable input[type="number"] {
  width: 95%;
  height: 140%; }

#registrationtable input[type="email"] {
  width: 95%;
  height: 140%; }

#registrationtable input[type="tel"] {
  width: 95%;
  height: 140%; }

#registrationtable select[type="text"] {
  width: 95%;
  height: 140%; }

#loginbutton {
  background-color: #8bd45a;
  color: #f0e6d7;
  font-size: 9px;
  box-shadow: 2px 2px 2px;
  border-style: none;
  cursor: pointer; }

#stylebutton {
  background-color: #323452;
  color: #ff3a00;
  font-size: 12px;
  box-shadow: 3px 3px 2px;
  border-style: none;
  cursor: pointer; }

#stylebutton[disabled] {
  background-color: #6b6d9c;
  color: #ff8c6b;
  font-size: 12px;
  box-shadow: 3px 3px 2px;
  border-style: none; }

#registerbutton {
  background-color: #323452;
  color: #ff3a00;
  font-size: 12px;
  width: 100px;
  box-shadow: 3px 3px 2px;
  border-style: none;
  cursor: pointer; }

#registerbutton[disabled] {
  background-color: #6b6d9c;
  color: #ff8c6b;
  font-size: 12px;
  width: 100px;
  box-shadow: 3px 3px 2px;
  border-style: none; }

hr {
  display: block;
  height: 1px;
  width: 90%;
  border: 0;
  border-top: 2px solid #003F1F;
  margin: 1em 0;
  padding: 0; }

p.title {
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 3px; }

p.title2 {
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 3px; }

#ordertable tr {
  height: 16px; }
#ordertable td {
  width: 64px;
  text-align: left; }

#leftorder {
  text-align: center; }
  #leftorder a {
    font-size: 9px;
    vertical-align: text-top; }
  #leftorder a.orderinfo {
    font-size: 12px;
    vertical-align: text-top; }

#menutable {
  display: inline-table;
  width: 94%; }
  #menutable tr {
    height: 8px; }
  #menutable td {
    text-align: center;
    font-size: 12px; }
  #menutable th {
    text-align: center;
    font-size: 12px; }
  #menutable td.firstcol {
    text-align: left;
    font-size: 12px; }
  #menutable th.firstcol {
    text-align: left;
    font-size: 12px; }
  #menutable th.category {
    text-align: left;
    font-size: 18px; }
  #menutable th.subcategory {
    text-align: left;
    font-size: 15px; }
  #menutable td.notes {
    text-align: left;
    font-size: 12px;
    font-style: italic; }
  #menutable td.allcol {
    text-align: left;
    column-span: all;
    -webkit-column-span: all; }
  #menutable input[type="text"].size {
    width: 28px; }
  #menutable input[type="text"].description {
    width: 100%; }
  #menutable input[type="number"] {
    width: 35px; }

#itemtable {
  display: inline-table;
  width: 94%; }
  #itemtable tr {
    height: 8px; }
  #itemtable td {
    text-align: left;
    font-size: 12px; }
  #itemtable th {
    text-align: left;
    font-size: 12px; }
  #itemtable td.firstcol {
    text-align: left;
    font-size: 12px;
    width: 100px; }
  #itemtable th.firstcol {
    text-align: left;
    font-size: 12px;
    width: 100px; }
  #itemtable th.category {
    text-align: left;
    font-size: 18px; }
  #itemtable th.subcategory {
    text-align: left;
    font-size: 15px; }
  #itemtable td.notes {
    text-align: left;
    font-size: 12px;
    font-style: italic; }
  #itemtable td.submit {
    text-align: center; }
  #itemtable td.allcol {
    text-align: left;
    column-span: all;
    -webkit-column-span: all; }
  #itemtable input[type="text"].size {
    width: 28px; }
  #itemtable input[type="text"].description {
    width: 100%; }
  #itemtable input[type="number"] {
    width: 35px; }
  #itemtable input[type="submit"] {
    align: center; }

#fullorder {
  width: 100%; }
  #fullorder tr, #fullorder td, #fullorder th {
    text-align: left; }
  #fullorder tr.money, #fullorder td.money {
    text-align: right; }
  #fullorder tr.center, #fullorder td.center {
    text-align: center; }
  #fullorder select {
    width: 90%; }
  #fullorder input[type="text"] {
    width: 90%; }
  #fullorder input[type="email"] {
    width: 90%; }
  #fullorder input[type="number"] {
    width: 90%; }
  #fullorder input[type="tel"] {
    width: 90%; }
  #fullorder input[type="month"] {
    width: 90%; }

#orderinfo {
  width: 100%; }
  #orderinfo tr, #orderinfo td, #orderinfo th {
    text-align: center; }
  #orderinfo tr.money, #orderinfo td.money {
    text-align: right; }
  #orderinfo tr.center, #orderinfo td.center {
    text-align: center; }
  #orderinfo select {
    width: 90%; }
  #orderinfo input[type="text"] {
    width: 90%; }
  #orderinfo input[type="email"] {
    width: 90%; }
  #orderinfo input[type="number"] {
    width: 90%; }
  #orderinfo input[type="tel"] {
    width: 90%; }
  #orderinfo input[type="month"] {
    width: 90%; }

#quanitynumber {
  width: 100%; }

table {
  font-size: 12px; }

body.dragging, body.dragging * {
  cursor: move !important; }

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000; }

ol.example li.placeholder {
  position: relative;
  /** More li styles **/ }

ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/ }

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings-orange.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  cursor: pointer;
  cursor: hand; }

/* line 70, ../../vendor/ruby/1.8/bundler/gems/sass-twitter-bootstrap-06795315e047/lib/bootstrap/_mixins.scss */
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0; }

.icon-cancel {
  background-position: -312px 0px; }

.icon-pencil {
  background-position: -0px -72px; }

.icon-move {
  background-position: -168px -72px; }

.icon-move-list {
  background-position: -168px -72px; }

.icon-move-category {
  background-position: -168px -72px; }

.icon-move-subcategory {
  background-position: -168px -72px; }

.icon-move-item {
  background-position: -168px -72px; }

.icon-move-group {
  background-position: -168px -72px; }

.icon-move-option {
  background-position: -168px -72px; }

ol {
  list-style-type: none; }

/* line 34, application.css.sass */
ol i.icon-move {
  cursor: pointer; }

/* line 36, application.css.sass */
ol li.highlight {
  background: #333333;
  color: #999999; }

/* line 39, application.css.sass */
ol li.highlight i.icon-move {
  background-image: url("../img/glyphicons-halflings-white.png"); }

ol {
  margin: 0 0 0 0;
  text-indent: 0px;
  margin-left: 0px;
  padding-left: 0px; }

/* line 12, jquery-sortable.css.sass */
  /*
  ol li {
	font-size: .8*$font-size;
	font-weight: normal;
	text-indent:0px;
    display: block;
    margin: 5px;
    padding: 0px;
    border: solid 2px $dark-color;
    border-radius: $radius-width;
	color: $dark-color;
    border-color: $dark-color; }
  */
/* line 19, jquery-sortable.css.sass */
ol.category li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #323452; }

ol.category-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #323452; }

ol.subcategory li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8bd45a; }

ol.subcategory-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8bd45a; }

ol.item li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6c00b5; }

ol.item-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6c00b5; }

ol.group li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8bd45a; }

ol.group-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #8bd45a; }

ol.option li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6c00b5; }

ol.option-pallet li {
  font-size: 9.6px;
  font-weight: normal;
  text-indent: 0px;
  display: block;
  margin: 5px;
  padding: 0px;
  border: solid 2px #323452;
  border-radius: 15px;
  color: #323452;
  border-color: #6c00b5; }

ol li.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none; }

/* line 24, jquery-sortable.css.sass */
ol li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: #ff3a00;
  border-right: none; }

table tr.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  outline: 2px dotted #6c00b5; }

/* line 24, jquery-sortable.css.sass */
table tr.placeholder:before {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  margin-top: 0px;
  left: -5px;
  top: 0px; }

div.trash {
  background-image: url("../img/trash.png");
  background-size: 100px;
  min-height: 40px;
  width: 40px; }

.ui-widget-content {
  border: 1px solid #323452;
  background: #f0e6d7 50% bottom repeat-x;
  color: #323452; }

.ui-widget-content a {
  color: #323452; }

.ui-widget-header {
  border: 1px solid #323452;
  background: #323452 50% 50% repeat-x;
  color: #ff3a00;
  font-weight: bold; }

.ui-widget-header a {
  color: #323452; }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #ff3a00;
  background: #323452 50% 50% repeat-x;
  font-weight: bold;
  color: #f0e6d7; }
  .ui-state-default a,
  .ui-widget-content .ui-state-default a,
  .ui-widget-header .ui-state-default a {
    color: #f0e6d7;
    font-weight: normal;
    text-decoration: none; }
    .ui-state-default a:active,
    .ui-widget-content .ui-state-default a:active,
    .ui-widget-header .ui-state-default a:active {
      color: #f0e6d7; }
    .ui-state-default a:hover,
    .ui-widget-content .ui-state-default a:hover,
    .ui-widget-header .ui-state-default a:hover {
      color: #f0e6d7;
      text-decoration: underline; }
    .ui-state-default a:link,
    .ui-widget-content .ui-state-default a:link,
    .ui-widget-header .ui-state-default a:link {
      color: #f0e6d7; }
    .ui-state-default a:visited,
    .ui-widget-content .ui-state-default a:visited,
    .ui-widget-header .ui-state-default a:visited {
      color: #f0e6d7; }

.ui-state-default .ui-accordion-header a {
  color: #f0e6d7;
  font-weight: normal;
  text-decoration: none; }
  .ui-state-default .ui-accordion-header a:active {
    color: #f0e6d7; }
  .ui-state-default .ui-accordion-header a:hover {
    color: #f0e6d7;
    text-decoration: underline; }
  .ui-state-default .ui-accordion-header a:link {
    color: #f0e6d7; }
  .ui-state-default .ui-accordion-header a:visited {
    color: #f0e6d7; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #323452;
  background: #ff3a00 50% 50% repeat-x;
  font-weight: bold;
  color: #f0e6d7; }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #ff3a00;
  background: #323452 50% 50% repeat-x;
  font-weight: normal;
  color: #f0e6d7; }

.ui-button {
  radius: 0px; }

a.anchor {
  display: block;
  position: relative;
  top: -24px;
  visibility: hidden; }

div.slogan_div {
  font: 24px Cheeseburger; }

div.logo_div {
  display: inline-block; }
